[Desktop Entry]
Encoding=UTF-8
Name=Link to * IP5_FloxRox | Trello
Type=Link
URL=https://trello.com/b/sfjRpEaZ/ip5floxrox
Icon=text-html
Name[en_GB]=Trello | IP5_FloxRox
