[Desktop Entry]
Encoding=UTF-8
Name=Link to start [FloxRox VA Wiki]
Type=Link
URL=http://pwigger.ch/floxrox/doku.php
Icon=text-html
Name[en_GB]=Wiki | Flox-Rox VA Wiki
