@import "graph.css";
@import "mainMenu.css";
@import "liveView.css";

.messageBoxHeader {
    -fx-background-color: cadetblue;
    -fx-background-radius: 7 7 0 0;
}

.messageBox {
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-effect: dropshadow(two-pass-box, #787878, 10, 0.0, 4, 5);
}

.messageBoxOutgrey {
    -fx-background-color: rgba(100, 100, 100, 0.5);
}

.messageBoxTitle {
    -fx-font-size: 16pt;
    -fx-font-weight: 700;
}